/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    background-color: palevioletred;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

nav a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
}

main {

    text-align: center;
}

h2, 
h3 {
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    color: darkblue;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

h4 {
    color: darkblue;
    padding-bottom: 20px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 370px ;
    padding-right: 370px;
    font-family:Montserrat;
    line-height: 30px;
}

img {
    
    margin: 0 auto;
}

footer {
    background-color: purple;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 0px;
}
.main-footer{
    text-align: center;
    padding-left: 250x;
}
h2{
    text-align: left;
    padding-left: 370px;
}
h4{
    text-align: left;
    padding-left: 380px;
}
h3{
    text-align: left;
    padding-left: 370px;
}
hr{
    width: 50%;
}
.date{
    color: blue;
    font-size: 18px;
    text-align: left;
    padding-left: 370px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 15px;
}